go 1.18

use (
	./data/delear
	./data/cart
	./data/deck
	./data/player
	./data/room
	./endpoint
	./endpoint/interface/playerApi
	./endpoint/interface/roomApi
	./endpoint/interface/gameApi
	./logic/gameManager
	./logic/playerManager
	./logic/roomManager
)
